th{
    font-size: 1rem;
    background-color: blanchedalmond;
}
.red {
    background: 	rgba(206, 43, 43, 0.5);
}

.green {
    background: green;
}

.blue {
    background: linear-gradient(to right, #F44336 7%, #ff9068 94%);
}