th{
    font-size: 1rem;
    background-color: blanchedalmond;
}
.red {
    background: 	rgba(206, 43, 43, 0.5);
}

.green {
    background: green;
}

.warn {
    background: linear-gradient(to right, #F44336 2%, #ff9068 30%);
}